*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
}
header{
    height: 80px;
    width: 100%;
    background-color: black;
    color: white;
    padding: 15px 0px ;
    text-align: center;
    text-transform: uppercase;
}


.parent{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 32px;
}

.card{
    margin: 10px;
    box-shadow: 0px 0px 10px black;
    width: 350px;
    padding: 20px;
    border-radius: 20px;

}

.card h2{
    text-align: center;
    margin: 25px 0px;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 25px;
}

label{
    padding-left: 10px ;
    font-weight: 700;
}

input{
    margin-left: 10px;
    margin: 10px 10px ;
    border: none;
    border-bottom: 2px solid black;
    width: 90%;
   
}

input:focus{
    padding: 5px;
    
}

.otp{
    border: 2px solid black;
    width: 17%;
    padding: 10px ;
    border-radius: 10px ;
}

.otp:focus{
    padding: 10px;
}


button{
    margin: 20px;
    padding: 8px 30px; 
    background-color: rgb(74, 74, 197);
    color: white;
    letter-spacing: 1px;
    border-radius: 10px ;
}


footer{
    background-color: black;
    color: white;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}